@font-face {
    font-family: "SuisseIntl-Regular";
    src: url("fonts/SuisseIntl-Regular.otf");
}

@font-face {
    font-family: "SuisseIntl-Bold";
    src: url("fonts/SuisseIntl-Bold.otf");
}

html {
    background: #2C2C2C;
    color: #fff;
    width: 1920px;
    height: 720px;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        font-style: normal;

        .burger-container {
            position: absolute;

            left: 117px;
            top: 70px;

            cursor: pointer;

            .burger-menu {
                margin: 0;

                .burger-icon {
                    width: 20px;
                    height: 25px;

                    transition: 1s;
                }
            }

            .burger-icon:hover {
                -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
                transition: 1s;
            }
        }

        @media (max-width: 768px) and (max-height: 484px) {
            .burger-container {
                left: 40px;
                top: 30px;

                .burger-menu {

                    .burger-icon {
                        width: 5px;
                        height: 10px;
                    }
                }              
            }
        }

        @media (max-width: 360px) and (max-height: 536px) {
            .burger-container {
                grid-area: button;

                left: 30px;
                top: 30px;

                .burger-menu {

                    .burger-icon {
                        width: 5px;
                        height: 10px;
                    }
                }
            }

        }

        .title {
            width: 40%;

            margin: 15% 0% 15% 4%;

            letter-spacing: 0.15px;
            caret-color: transparent;

            .title-text {
                font-family: "SuisseIntl-Regular";
                font-size: 18px;
                line-height: 22px;

                margin: 0;

                position: static;
            }

            .title-name {
                font-family: "SuisseIntl-Bold";
                font-size: 52px;
                line-height: 58px;

                margin: 0;

                width: 416px;

                position: static;
            }
        }

        @media (max-width: 1440px) and (max-height: 720px) {
            .title {
                margin: 20% 10%;
            }
        }

        @media (max-width: 768px) and (max-height: 484px) {
            .title {
                margin: 21% 4%;

                .title-text {
                    font-size: 23px;
                    line-height: 8px;

                    padding-bottom: 9px;
                }

                .title-name {
                    font-size: 54px;
                    line-height: 53px;
                }
            }
        }

        @media (max-width: 360px) and (max-height: 536px) {
            .title {
                grid-area: title;

                margin: 10% 0%;

                width: 100%;

                .title-text {
                    font-size: 12px;
                    line-height: 22px;
                    text-transform: uppercase;

                    margin: 0;
                }

                .title-name {
                    font-size: 32px;
                    line-height: 36px;

                    margin: 0;

                    width: 343px;
                }
            }
        }

        .info {

            width: 60%;
            text-align: end;

            .input-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                background-color: #fff;
                caret-color: transparent;
                width: 280px;
                height: 44px;

                border-radius: 34px;
                margin-top: 32px;

                .input {
                    font-family: "SuisseIntl-Regular";
                    font-size: 14px;
                    caret-color: #5E5E5E;

                    height: 40px;
                    margin-left: 22px;

                    border: none;
                    position: relative;
                }

                .input-text {
                    font-family: "SuisseIntl-Regular";
                    font-size: 14px;
                    color: #5E5E5E;
                    caret-color: transparent;

                    position: absolute;
                    left: 22px;
                    top: 13px;

                    transition: top ease-in 0.3s;
                }

                .input:focus {
                    outline: none !important;
                }

                .input:focus+.input-text,
                .input:not(:placeholder-shown)+.input-text {
                    font-size: 10px;
                    top: 2px;
                }

                .search-block {
                    background: #FF7D5A;
                    border-radius: 18px;
                    margin-right: 6px;

                    width: 32px;
                    height: 32px;

                    display: flex;

                    .search-icon {
                        caret-color: transparent;
                        cursor: pointer;
                        padding: 8px;
                    }

                    .search-text {
                        font-family: "SuisseIntl-Regular";
                        font-size: 14px;

                        right: 12px;
                        top: 14px;

                        display: none;
                        position: absolute;
                    }
                }
            }

            @media (max-width: 768px) and (max-height: 484px) {
                .input-block {
                    display: none;
                    margin-top: 10px;
                }
            }

            @media (max-width: 360px) and (max-height: 536px) {
                .input-block {
                    grid-area: input;

                    margin-left: 50px;
                    margin-top: 15px;

                    width: 250px;
                    height: 32px;
                    display: none;

                    .input {
                        font-size: 12px;
                        height: 30px;
                    }

                    .input-text {
                        top: 7px;
                    }

                    .input:not(:placeholder-shown)+.input-text {
                        font-size: 8px;
                    }

                    .search-block {
                        margin: 0;

                        .search-text {
                            right: 12px;
                            top: 9px;

                            font-size: 12px;
                        }
                    }
                }
            }

            .picture-block {
                position: fixed;

                bottom: 0px;
                right: 0px;

                width: max-content;

                .picture-img {
                    margin-right: 96px;
                    width: 1010px;
                }
            }

            @media (max-width: 1440px) and (max-height: 720px) {
                .picture-block {

                    .picture-img {
                        margin-right: 0px;
                        width: fit-content;
                    }
                }
            }

            @media (max-width: 768px) and (max-height: 484px) {
                .picture-block {
                    right: 0;
                    

                    .picture-img {
                        position: fixed;

                        bottom: 0;
                        right: 0px;
                        
                        width: 462px;
                        margin-right: 0;
                    }
                }

            }

            @media (max-width: 360px) and (max-height: 536px) {
                .picture-block {
                    grid-area: img;
                    right: 0px;

                    .picture-img {
                        margin-right: 0px;
                        width: 360px;
                    }
                }
            }
        }
    }

    @media (max-width: 360px) and (max-height: 536px) {
        .container {
            text-align: center;
            display: grid;

            grid-template-areas:
                'button input'
                'title title'
                'img img';

            grid-template-rows: 70px 3fr;
            grid-template-columns: 2fr 3fr;
        }
    }

}

@media (max-width: 1440px) and (max-height: 720px) {
    html {
        width: 1440px;
        height: 720px;
    }
}

@media (max-width: 768px) and (max-height: 484px) {
    html {
        width: 768px;
        height: 484px;
    }
}

@media (max-width: 360px) and (max-height: 536px) {
    html {
        width: 360px;
        height: 536px;
    }
}